<div id="item_drop">
  <h2>Character Items</h2>
  <div style="clear:both;"></div>
</div>

<% character_id = (!@record )  ? params[:character_id] : @record.id.to_s %>
<%= drop_receiving_element "item_drop", 
      :url => { :action => "add_item", :character_id => character_id },
      :accept => "item_handle", 
      :hoverclass => "item_drop_hover",
      :loading => "Element.show('indicator')",
      :complete => "Element.hide('indicator'); Element.hide(element);" %>
